:root {
  /* Colors - Primary */
  --color-primary-50: #FFFFFF;
  --color-primary-100: #ECF2FD;
  --color-primary-200: #BACEF9;
  --color-primary-300: #89AAF4;
  --color-primary-400: #5787F0;
  --color-primary-500: #2563EB;
  --color-primary-600: #1554E0;
  --color-primary-700: #124BC7;
  --color-primary-800: #1042AE;
  --color-primary-900: #0E3895;

  /* Colors - Secondary */
  --color-secondary-50: #FEF6E8;
  --color-secondary-100: #FDECD0;
  --color-secondary-200: #FBD99F;
  --color-secondary-300: #F9C56D;
  --color-secondary-400: #F7B23C;
  --color-secondary-500: #F59E0B;
  --color-secondary-600: #DD8E09;
  --color-secondary-700: #C57F08;
  --color-secondary-800: #AC6F07;
  --color-secondary-900: #945F06;

  /* Spacing */
  --spacing-0: 0px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-8: 32px;
  --spacing-10: 40px;
  --spacing-12: 48px;
  --spacing-16: 64px;
  --spacing-20: 80px;
  --spacing-24: 96px;
  --spacing-32: 128px;
  --spacing-40: 160px;
  --spacing-48: 192px;
  --spacing-56: 224px;
  --spacing-64: 256px;

  /* Shadows */
  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-DEFAULT: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);

  /* Border Radius */
  --radius-none: 0;
  --radius-sm: 0.125rem;
  --radius-DEFAULT: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-full: 9999px;
}
